.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas:
  'logo logo header'
  'subHeader subHeader subHeader'
  'main main main'
  'footer footer footer';
    margin: 0px;
    padding: 0px;
    grid-column-gap: 0;
    grid-auto-rows: minmax(20px, auto);
    background-color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-areas:
  'logo logo header'
  'subHeader subHeader subHeader'
  'main main main'
  'footer footer footer';
    margin: 0px;
    padding: 0px;
    grid-column-gap: 0;
    grid-auto-rows: minmax(20px, auto);
    background-color: white;
}

.box11 {
    grid-area: logo;
    text-align: center;
    padding: 20px;
    background-color: #033249;

    
}
.box1 {
    grid-area: header;
    text-align: right;
    padding: 10px;
    font-size: small;
    font-weight: bold;
    background-color: #033249;
    color: white;
     
}

.box1 a:link {
    color: white;
}

/*.box1 a:link, a:visited {
    color: white
}*/

.box1 a:hover, a:active {
    background-color: grey;
}
.box2 {
    grid-area: subHeader;
    padding: 10px;
    background: linear-gradient(#f9fdfc, #3fd21a);
    text-align: center;
    font-size: larger;
    font-weight: bold;
    position: sticky;
    top: 0;

}

.box3 { 
    
    border-right: 3px solid black;
   
}

.box3 ul li a:link { 
    padding: 0;
    color: rgb(0, 0, 0);
   
}
.box3 ul { 
    padding-inline-start: 13px;
       
}
.box4 {
    grid-area: main;
    text-align: center;
    padding: 50px;
    
}

.box4 h1 {
    font-size: 3em;

}

.box4 h2 {
    font-size: 2em;

}
.box4 ul {
    padding-inline-start: 38%;
    text-align: left;
}
.box5 {
    grid-area: footer;
    background-color: lightgrey;
    text-align: center;
    
}

.box5 a:hover, a:active {
    background-color: darkgrey;
 }
.box5 a:link {
    color: black;
}

.box6 {
    grid-area: main;
    text-align: left;
    padding: 0px;
    
}

.box7 {
    grid-area: main;
    text-align: -webkit-center;
    padding: 50px;
    
}

.box8 {
    text-align: center;
    padding: 30px;
    
}

.box9 {
    grid-area: footer;
    background-color: lightgrey;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.box9 a:link {
    color: rgb(0, 0, 0);
}
a:link, a:visited {
   
    border: none;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
   /*font-size: 16px;*/
   cursor: pointer;
   display: inline-block;
}

.box2 a:link {
    color: black;
}
.box2 a:hover, a:active {
   background-color: yellow
}
.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%
  }
  
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button1 a {
    color: white;
}
.grid {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 4fr;
    text-align: left;
    padding: 10px;
    
}

.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(5, 212, 50, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(2, 2, 2);
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(10, 10, 10);
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #080808;
    font-size: 12px;
}
  
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #0f0f0f;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
  
.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;

}
  
.login-box a span {
    position: absolute;
    display: block;
}
  
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
  
 @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}
  
.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
  
 @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
 }
  
.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

table.one {
    font-family: sans-serif;
    font-size: 14;
    width: 100%;
}
table.one thead tr {
    background: black;
    color: white;
}

table.one tbody tr:nth-child(odd) {
    background:lightgrey;
}
  
table.one tr td a {
    font-size: 14;
    color: blue;
    text-decoration: underline;
    padding: 0;
}

.request-box {
    width: 400px;
    padding: 40px;
    background: rgba(5, 212, 50, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: left;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text1] {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}